// bower:scss
// endbower

@import url('//fonts.googleapis.com/icon?family=Material+Icons');
@import url('//fonts.googleapis.com/earlyaccess/notosanskr.css');
@import url('//cdn.jsdelivr.net/font-spoqa-han-sans/subset/spoqahansans-kr.css');

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
  font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Helvetica Neue', sans-serif !important;
}

.apps-logo {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px 0;
  margin: 0 auto;
}

.apps-logo > img {
  height: auto;
  width: 250px;
  display: block;
  //transform-origin: 50% 0;
  //transform: scale(1.2);
}

.site-sidenav {
  width: 272px;
  min-width: 272px;
  max-width: 272px;
}

.mobile-title {
  word-break: keep-all;
}
