<md-content layout-wrap>
  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">일정</span>
        
      </md-card-title-text>
    </md-card-title>

     <md-card-content>
      <P CLASS=HStyle0>■ 일정 </P>

		<P CLASS=HStyle0>- 4/26(수)</P>

		<P CLASS=HStyle0><BR></P>

		<P CLASS=HStyle0>- 4/27(목)</P>

		<P CLASS=HStyle0>&nbsp;o GE + 지멘스 :&nbsp; 기조연설 후 3개 세션을 직렬로 배치</P>

		<P CLASS=HStyle0 STYLE='margin-left:57.7pt;text-indent:-57.7pt;'>&nbsp;o 한국전력 중앙연구원</P>

		<P CLASS=HStyle0>&nbsp;세션명 : 전력산업분야 4차산업혁명도입을 위한 빅데이터와 IoT적용</P>

		<P CLASS=HStyle0>&nbsp;시간 : 13:30 선호</P>

		<P CLASS=HStyle0>&nbsp;o POSTECH 송민석 교수</P>

		<P CLASS=HStyle0>- 세션명 : 제조 데이터분석</P>

		<P CLASS=HStyle0><BR></P>

		<P CLASS=HStyle0>- 4/28(금) </P>

		<P CLASS=HStyle0>&nbsp;o POSTECH 산업경영공학과 최동구 교수</P>

		<P CLASS=HStyle0>&nbsp;&nbsp;&nbsp;세션명 : 전력부문 계획 OR 응용</P>

		<P CLASS=HStyle0>&nbsp;o 한국환경산업기술원 (세션 2개)</P>

		<P CLASS=HStyle0>- 세션명 1 : 젊은 연구자 세미나 세션 (5~6개)</P>

		<P CLASS=HStyle0>&nbsp;&nbsp;세션명 2 : 성과발표회 세션 (3~4개)</P>

		<P CLASS=HStyle0><BR></P>

		<P CLASS=HStyle0>- 4/29(토)</P>

		<P CLASS=HStyle0><BR></P>

		<P CLASS=HStyle0><BR></P>

		<P CLASS=HStyle0><SPAN STYLE='font-size:20.0pt;font-weight:"bold";line-height:160%'>&nbsp;[&nbsp; 특 별 세 션 ] </SPAN></P>

		<P CLASS=HStyle0>■ ADD (6편)</P>

		<P CLASS=HStyle0>- 세션명 : 미정</P>

		<P CLASS=HStyle0>- 좌장 : 한동대 최창범 교수</P>

		<P CLASS=HStyle0>- 담당자 : 국방과학연구소 이순주 (042-821-0905, 010-8939-7185, sunjulee@add.re.kr)</P>

		<P CLASS=HStyle0>- 발표자 리스트 : </P>

		<P CLASS=HStyle0>&nbsp;(1) 무기체계 컴포넌트 모델 라이브러리 연구,&nbsp; --- (국방과학연구소)</P>

		<P CLASS=HStyle0 STYLE='margin-left:16.9pt;text-indent:-16.9pt;'>&nbsp;(2) 지상/해양 무기체계 기본체계모델(BSM) 구조 설계, ---, ---, 박상철(아주대), 박주혜, 이상진(국방과학연구소)</P>

		<P CLASS=HStyle0 STYLE='margin-left:16.9pt;text-indent:-16.9pt;'>&nbsp;(3) 공중 무기체계 기본체계모델(BSM) 구조 설계, ---, ---, 문일철, 탁민제(KAIST), 이순주, 양승남(국방과학연구소)</P>

		<P CLASS=HStyle0 STYLE='margin-left:16.9pt;text-indent:-16.9pt;'>&nbsp;(4) 유도/레이다 무기체계 기본체계모델(BSM) 구조 설계,<SPAN style='HWP-TAB:1;'>&nbsp;&nbsp;&nbsp;</SPAN>---, ---, 유창경, 고일석(아주대), 김도형, 오현식(국방과학연구소)</P>

		<P CLASS=HStyle0 STYLE='margin-left:16.9pt;text-indent:-16.9pt;'>&nbsp;(5) 기본체계모델(BSM) 정적, 동적 검증을 위한 요구사항 명세기법 연구, ---, ---, 최창범(한동대), 양승남, 오현식(국방과학연구소)</P>

		<P CLASS=HStyle0 STYLE='margin-left:16.9pt;text-indent:-16.9pt;'>&nbsp;(6) FLAMES를 활용한 대공전 모델링 연구, 이순주 (국방과학연구소)</P>

		<P CLASS=HStyle0><BR></P>

		<P CLASS=HStyle0>■ POSTECH 산업경영공학과 (4편) --&gt;최동구 교수논문 1편 추가가능</P>

		<P CLASS=HStyle0>- 세션명 : 전력부문 계획 OR 응용</P>

		<P CLASS=HStyle0>- 좌장 / 담당자 : 최동구 교수, dgchoi@postech.ac.kr, 010-9155-9795</P>

		<P CLASS=HStyle0>- 발표자 리스트 : </P>

		<P CLASS=HStyle0>&nbsp;(1) 민대기 교수, 이화여자대학교 경영학부, dmin@ewha.ac.kr</P>

		<P CLASS=HStyle0>&nbsp;(2) 류종현 교수, 홍익대학교 경상대학, jhryu@hongik.ac.kr</P>

		<P CLASS=HStyle0>&nbsp;(3) 김경국 교수, KAIST 산업시스템공학과, catenoid@kaist.edu</P>

		<P CLASS=HStyle0>&nbsp;(4) 김인숙 박사, 한양대학교 전자공학부, iskim@wnl.hanyang.ac.kr</P>

		<P CLASS=HStyle0>- 시간 : 금요일 오후 세션</P>

		<P CLASS=HStyle0><BR></P>

		<P CLASS=HStyle0>-------------------------- 메일내용 -----------------------</P>

		<P CLASS=HStyle0>박수현 교수님께,</P>

		<P CLASS=HStyle0>&nbsp;</P>

		<P CLASS=HStyle0>안녕하십니까? 교수님. 저는 POSTECH 산업경영공학과 조교수 최동구입니다. </P>

		<P CLASS=HStyle0>다름이 아니라, 금번 춘계 학술대회에서 아래와 같이 특별 세션 구성이 가능한지 여쭙고자 메일을 드립니다. </P>

		<P CLASS=HStyle0>-----------------------------------</P>

		<P CLASS=HStyle0>세션명 : 전력부문 계획 OR 응용</P>

		<P CLASS=HStyle0>좌장 : 최동구, dgchoi@postech.ac.kr, 010-9155-9795</P>

		<P CLASS=HStyle0>세션구성 발표자 리스트 : (1) 민대기 교수, 이화여자대학교 경영학부, dmin@ewha.ac.kr</P>

		<P CLASS=HStyle0>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(2) 류종현 교수, 홍익대학교 경상대학, jhryu@hongik.ac.kr</P>

		<P CLASS=HStyle0>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(3) 김경국 교수, KAIST 산업시스템공학과, catenoid@kaist.edu</P>

		<P CLASS=HStyle0>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(4) 김인숙 박사, 한양대학교 전자공학부, iskim@wnl.hanyang.ac.kr</P>

		<P CLASS=HStyle0>-----------------------------------</P>

		<P CLASS=HStyle0>&nbsp;</P>

		<P CLASS=HStyle0>가능하다면 금요일 오후 세션으로 배정을 받고 싶습니다. 가부 여부와 추가로 알려드려야 할 정보를 요청해 주시면 감사드리겠습니다. </P>

		<P CLASS=HStyle0>학회 준비로 고생이 많으십니다. 감사합니다.</P>

		<P CLASS=HStyle0>&nbsp;</P>

		<P CLASS=HStyle0>최동구 드림</P>

		<P CLASS=HStyle0><BR></P>

		<P CLASS=HStyle0><BR></P>

		<P CLASS=HStyle0>■ 한국수력원자력 중앙연구원 (6 – 8편)</P>

		<P CLASS=HStyle0>- 세션명 : 원자력발전소 시뮬레이터와 HMI</P>

		<P CLASS=HStyle0>- 좌장 : </P>

		<P CLASS=HStyle0>- 담당자 : 김문수 차장 ( <A HREF="mailto:kimmunsoo@khnp.co.kr">kimmunsoo@khnp.co.kr</A> )</P>

		<P CLASS=HStyle0>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;이종범 부장(시뮬레이터 담당, 010-2413-0920)</P>

		<P CLASS=HStyle0>- 발표자 리스트 : 6~8 건</P>

		<P CLASS=HStyle0>&nbsp;(1)... </P>

		<P CLASS=HStyle0>- 시간 : 특별히 원하는 시간대 없음</P>

		<P CLASS=HStyle0>- 기타 : 전무 윤청로, 200 만원 협찬광고</P>

		<P CLASS=HStyle0><BR></P>

		<P CLASS=HStyle0>-------------------------- 메일내용 -------------------------</P>

		<P CLASS=HStyle0>안녕하세요?</P>

		<P CLASS=HStyle0>한수원 중앙연구원 김문수 차장입니다.</P>

		<P CLASS=HStyle0>이종범 부장님의 지시를 받아, 박수현님께 편지 드립니다. </P>

		<P CLASS=HStyle0><BR></P>

		<P CLASS=HStyle0>&nbsp;&nbsp;- 특별세션명 : 원자력발전소 시뮬레이터와 HMI</P>

		<P CLASS=HStyle0>&nbsp;&nbsp;- 논문편수 : 6~8 건 </P>

		<P CLASS=HStyle0><BR></P>

		<P CLASS=HStyle0>지금까지 시뮬레이션 학회에 원자력발전 시뮬레이션 분야에 관련한 여러 논문들을 많은 분들께서 발표하신바 있습니다. </P>

		<P CLASS=HStyle0><BR></P>

		<P CLASS=HStyle0>금번 시뮬레이션학회에서는 특별세션으로 보다 풍성한 정보 알림과 교류의 장이 될것이라 생각됩니다.</P>

		<P CLASS=HStyle0><BR></P>

		<P CLASS=HStyle0>김문수 드림.</P>

		<P CLASS=HStyle0><BR></P>

		<P CLASS=HStyle0>■ 한국환경산업기술원 (세션 2개)</P>

		<P CLASS=HStyle0>- 세션명 1 : 젊은 연구자 세미나 세션 (5~6개)</P>

		<P CLASS=HStyle0>&nbsp;&nbsp;세션명 2 : 성과발표회 세션 (3~4개)</P>

		<P CLASS=HStyle0>- 좌장 : </P>

		<P CLASS=HStyle0 STYLE='margin-left:57.7pt;text-indent:-57.7pt;'>- 담당자 : 배진주 (한국환경산업기술원 환경산업지원단 산업육성1실), 02-2284-1713, 010-3237-5352, jjoo@keiti.re.kr</P>

		<P CLASS=HStyle0>- 발표자 리스트 </P>

		<P CLASS=HStyle0>&nbsp;지식기반 환경서비스 특성화대학원사업은 환경분야를 기초로하여 환경경영 전략 및 사업을 분석할 수 있는 교육기반을 구축하고 석·박사급 인재를 육성하는 사업으로, 환경컨설팅과 환경기술경영 분야가 있으며, 현재 운영중인 대학원은 3개 대학원으로 연세대학교(원주), 인천대학교, 성균관대학교 입니다.</P>

		<P CLASS=HStyle0>- 시간 : 4/28(금) 오후 </P>

		<P CLASS=HStyle0>- 기타 : '현수막 제작 및 책자 제작비 등'으로 150~200만원 지원가능. 영수증 처리요</P>

		<P CLASS=HStyle0><BR></P>

		<P CLASS=HStyle0>------------------------ 메일 ------------------</P>

		<P CLASS=HStyle0>배진주 선생님, </P>

		<P CLASS=HStyle0><BR></P>

		<P CLASS=HStyle0>특별세션 요청에 감사드립니다. </P>

		<P CLASS=HStyle0>이미 전화상으로 말씀드린 바를 정리해서 보내드립니다. </P>

		<P CLASS=HStyle0><BR></P>

		<P CLASS=HStyle0>1. 학술대회관련하여, '현수막 제작 및 책자제작비 등'으로 150~200만원 지원가능합니다. 금액등 괜찮으실런지요?</P>

		<P CLASS=HStyle0>&nbsp;&nbsp;(괜찮으시면, 이 부분은 추후에 계산서 발행시 기술원으로 발행해주시면 되는데요. 계산서 발행으로는 다시 말씀드리겠습니다.)</P>

		<P CLASS=HStyle0>--&gt; 고맙습니다. 가능할 것으로 생각됩니다. </P>

		<P CLASS=HStyle0>&nbsp;사무국 김 빛나래 간사님, 배진주 선생님이 말씀하신 바가 처리가 가능하지요 ?&nbsp; </P>

		<P CLASS=HStyle0><BR></P>

		<P CLASS=HStyle0>2. 3.17(금)까지 신청 마감으로 알고 있습니다. 논문리스트는 기술원에서 드리고, 신청은 각 대학원에서 신청할 예정입니다. 이렇게 진행해도 될런지요?</P>

		<P CLASS=HStyle0>&nbsp;&nbsp;&nbsp;(두가지 세션 : 젊은 연구자 세미나 세션 논문 5~6개, 성과발표회 세션 3~4개 발표)</P>

		<P CLASS=HStyle0>--&gt; 네, 괜찮습니다. 후에 혹시나 모를 혼란을 피하기 위하여 각 세션에 제출된 논문리스트를 제게 보내주시기 바랍니다. </P>

		<P CLASS=HStyle0>&nbsp;이외에도 말씀하신대로 특별세션과는 별도로 각 대학(원)에서 특별세션 이외의 타 세션으로 논문을 제출하여 주시는 것도 대환영입니다.&nbsp; </P>

		<P CLASS=HStyle0><BR></P>

		<P CLASS=HStyle0>3. 숙박은 학회에서 지정된 곳이 있는지요?</P>

		<P CLASS=HStyle0>--&gt; 특별하게 지정된 숙박은 없습니다. 편하신대로 숙소를 정하시기 바랍니다. </P>

		<P CLASS=HStyle0><BR></P>

		<P CLASS=HStyle0>4. 학술대회 전체 세부일정이&nbsp; 나오지 않은 것으로 압니다만, 기술원 세션을 4.28(금)로 했으면 싶은데 가능할런지요?</P>

		<P CLASS=HStyle0>&nbsp;&nbsp;(운영중이 대학원들이 4.26~4.29 모두 일정이 괜찮습니다만, 모두 수도권(경기도 수원, 인천) 또는 원주에 있는지라, 금요일에 진행하는 것이 좋을 듯 하여 여쭤봅니다. 준비하는 과정에서 확인차 여쭤 봅니다.)</P>

		<P CLASS=HStyle0>--&gt; 네, 최대한으로 맞추어 보도록 하겠습니다.</P>

		<P CLASS=HStyle0><BR></P>

		<P CLASS=HStyle0>더 궁금하신 점이 있으시면 언제든 연락을 주시기 바랍니다. </P>

		<P CLASS=HStyle0>다시한번 여러 도움에 감사를 드립니다. </P>

		<P CLASS=HStyle0><BR></P>

		<P CLASS=HStyle0>박수현 올림 </P>

		<P CLASS=HStyle0><BR></P>

		<P CLASS=HStyle0>■ GE + 지멘스 :&nbsp; 3개 세션을 직렬로 배치</P>

		<P CLASS=HStyle0>--&gt; 27일(목) 기조강연 후 3개 세션을 직렬로 배치. </P>

		<P CLASS=HStyle0>- 세션명 : 스마트 팩토리 (문덕희 교수님 요청)</P>

		<P CLASS=HStyle0>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Digital Transformation (아마도 이것은 김성진 상무님 발표 주제인 듯) </P>

		<P CLASS=HStyle0>- 좌장 : </P>

		<P CLASS=HStyle0 STYLE='margin-left:57.7pt;text-indent:-57.7pt;'>- 담당자 : </P>

		<P CLASS=HStyle0>- 발표자 리스트</P>

		<P CLASS=HStyle0 STYLE='margin-left:57.7pt;text-indent:-57.7pt;'>&nbsp;1) 김성진 상무 010-3720-4812, seongiin.kim@ge.com </P>

		<P CLASS=HStyle0>- 시간 : 4/27(목) </P>

		<P CLASS=HStyle0>- 기타 :</P>

		<P CLASS=HStyle0><BR></P>

		<P CLASS=HStyle0>&nbsp;2) 이즈파크</P>

		<P CLASS=HStyle0><BR></P>

		<P CLASS=HStyle0>&nbsp;3)&nbsp; 튜토리얼</P>

		<P CLASS=HStyle0>송춘경 &lt;songck@ese-tech.com&gt;</P>

		<P CLASS=HStyle0>14:16 (1시간 전)</P>

		<P CLASS=HStyle0><BR></P>

		<P CLASS=HStyle0>문교수님~ 연락주셔서 감사드립니다.</P>

		<P CLASS=HStyle0>&nbsp;</P>

		<P CLASS=HStyle0>여러모로 부족하지만 저희들이 CPPS구현을 위해 진행하고 있는 내용 중심으로 아래와 같이 발표하도록 하겠습니다.</P>

		<P CLASS=HStyle0>&nbsp;</P>

		<P CLASS=HStyle0>---------------- 아 래 -------------------------------------------</P>

		<P CLASS=HStyle0>제목 : 시뮬레이션을 이용한 생산시스템의 제어 및 운영 방안</P>

		<P CLASS=HStyle0>내용요약 : 현재 많은 사람들의 관심과 우려를 받고 있는 4차 산업혁명의 중심에 스마트팩토리가 위치하고 있다.</P>

		<P CLASS=HStyle0>스마트 팩토리는 온라인 기술을 오프라인 공장에 적용하여 현실과 가상이 연결된 지능적 가상물리 시스템이라고도 할 수 있다.</P>

		<P CLASS=HStyle0>이러한 제조산업에서의 CPS를 구현하기 위해 본사에서 진행하고 있는 구현 및 적용 범위, 구현 형태, 운영방안 등에 대한 소개를 하고자 한다.</P>

		<P CLASS=HStyle0>&nbsp;</P>

		<P CLASS=HStyle0>혹시 발표내용이 구상하시는 형태와 적합하지 않으면 연락 부탁드리겠습니다.</P>

		<P CLASS=HStyle0>감사합니다.</P>

		<P CLASS=HStyle0>&nbsp;</P>

		<P CLASS=HStyle0>즐거운 주말 되시길 바랍니다.</P>

		<P CLASS=HStyle0>&nbsp;</P>

		<P CLASS=HStyle0>송춘경 드림.</P>

		<P CLASS=HStyle0>&nbsp;</P>

		<P CLASS=HStyle0>-----------------------------------</P>

		<P CLASS=HStyle0>송춘경 / CEO</P>

		<P CLASS=HStyle0>(주)에쎄테크놀로지</P>

		<P CLASS=HStyle0>Exceed System Engineering</P>

		<P CLASS=HStyle0>Mobile : 010-5395-3578</P>

		<P CLASS=HStyle0>Office : 032-623-0900</P>

		<P CLASS=HStyle0>Fax : 032-623-0902</P>

		<P CLASS=HStyle0>E-mail : songck@ese-tech.com</P>

		<P CLASS=HStyle0>Home : http://www.ese-tech.com</P>

		<P CLASS=HStyle0>-----------------------------------</P>

		<P CLASS=HStyle0><BR></P>

		<P CLASS=HStyle0>■ 한전 전력연구원 (김자희 교수님 소개, 장성용 교수님 진행)</P>

		<P CLASS=HStyle0>- 세션명 : 전력산업분야 4차산업혁명도입을 위한 빅데이터와 IoT적용</P>

		<P CLASS=HStyle0>- 좌장 : </P>

		<P CLASS=HStyle0 STYLE='margin-left:57.7pt;text-indent:-57.7pt;'>- 담당자 : 배성환 </P>

		<P CLASS=HStyle0 STYLE='margin-left:57.7pt;text-indent:-57.7pt;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;주성호 &lt;<A HREF="mailto:shju-1052@kepco.co.kr">shju-1052@kepco.co.kr</A>&gt;&nbsp; 042-865-5145</P>

		<P CLASS=HStyle0>- 발표자 리스트</P>

		<P CLASS=HStyle0>1) “서두 : 4차산업혁명과 전력산업의 환경변화”, 배성환 --&gt; 짧게 진행</P>

		<P CLASS=HStyle0>2) “한전의 보유 빅데이터와 활용”, 한전 전력빅데이터센터</P>

		<P CLASS=HStyle0>3) “4차산업혁명시대의 전력 IoT추진현황“, 배전연구소</P>

		<P CLASS=HStyle0>4) “HERB POP : 빅데이터 IoT 클라우드환경의 전력분야 연구 통합프랫폼 개발”, 소프트웨어센터</P>

		<P CLASS=HStyle0>- 선호일자 :&nbsp; 27일(목) 13:30</P>

		<P CLASS=HStyle0><BR></P>

		<P CLASS=HStyle0>■ 특별세션 한양대 이창원 교수</P>

		<P CLASS=HStyle0>- 세션명 : APORS</P>

		<P CLASS=HStyle0>- 좌장 : </P>

		<P CLASS=HStyle0 STYLE='margin-left:57.7pt;text-indent:-57.7pt;'>- 담당자 : 이창원 한양대 교수, leecw@hanyang.ac.kr , 010-2530-2351</P>

		<P CLASS=HStyle0>정확한 인원 편수 : 2월 마지막 주에 알려줄 예정</P>

		<P CLASS=HStyle0><BR></P>

		<P CLASS=HStyle0>----------------------- 이메일 내용 ---------------------------</P>

		<P CLASS=HStyle0>민재형회장님/박수현교수님</P>

		<P CLASS=HStyle0><BR></P>

		<P CLASS=HStyle0>안녕하십니까. 학회업무로 노고가 많으십니다.</P>

		<P CLASS=HStyle0><BR></P>

		<P CLASS=HStyle0>지난번 이사회에서 국제부 활동중의 하나로 춘계학술때 해외교수를 초청하여 발표하는 세션 (3-4명 정도) 하나를 구성하고</P>

		<P CLASS=HStyle0>참여자에 대해서는 학회 기간인 2박3일 동안의 숙식&nbsp; 제공 및 등록비 면제 (참석자는 여수까지의 항공 및 교통편은 자가 부담)</P>

		<P CLASS=HStyle0>하는 정도로 하여 준비하고 있습니다.</P>

		<P CLASS=HStyle0><BR></P>

		<P CLASS=HStyle0>특별세션명칭 (가칭 APORS 세션)&nbsp; 및 정확한 인원 및 편수는 다음주 까지는 알려드리겠습니다.</P>

		<P CLASS=HStyle0><BR></P>

		<P CLASS=HStyle0>이 경우 해외교수들의 학회 홈피 통한 전산 입력이 어려워 저와 연세대 최성용교수가 취합하여 이메일로 정리하여 전달하려고 하는데 가능할지요.</P>

		<P CLASS=HStyle0><BR></P>

		<P CLASS=HStyle0>감사합니다.</P>

		<P CLASS=HStyle0><BR></P>

		<P CLASS=HStyle0>이창원드림</P>

		<P CLASS=HStyle0><BR></P>

		<P CLASS=HStyle0>■ 포항공대 송민석 교수</P>

		<P CLASS=HStyle0>- 세션명 : 제조 데이터분석</P>

		<P CLASS=HStyle0>- 좌장 : </P>

		<P CLASS=HStyle0 STYLE='margin-left:57.7pt;text-indent:-57.7pt;'>- 담당자 : 포항공대 송민석 교수, <A HREF="mailto:mssong@postech.ac.kr">mssong@postech.ac.kr</A>, </P>

		<P CLASS=HStyle0><BR></P>

		<P CLASS=HStyle0>1) 제목: Product Data Analytics를 이용한 커뮤니티 기반 개인제조 지원 정보시스템에서 참여자 기여도 평가 </P>

		<P CLASS=HStyle0>Participation Measurement of Individual Member in A Community-Based Personal Manufacturing Support System using Product Data Analytics</P>

		<P CLASS=HStyle0>저자: 도남철, 장윤경</P>

		<P CLASS=HStyle0>소속: 경상대학교</P>

		<P CLASS=HStyle0><BR></P>

		<P CLASS=HStyle0>2) 제목:전동 근관치료 핸드피스 생산라인 실시간 이상 진단 및 예지시스템 개발</P>

		<P CLASS=HStyle0>저자:오하영,백수정,김덕영*</P>

		<P CLASS=HStyle0>소속: UNIST</P>

		<P CLASS=HStyle0><BR></P>

		<P CLASS=HStyle0>3) 제목: 제조 시스템의 신속 재구성을 위한 RCP 및 분산제어 프레임웍</P>

		<P CLASS=HStyle0>저자: 박진우, 김보배, 박기범, 김덕영*</P>

		<P CLASS=HStyle0>소속: UNIST</P>

		<P CLASS=HStyle0><BR></P>

		<P CLASS=HStyle0>4) 제목: 계측 데이터 분석 기반 LKA 성능 평가 방법</P>

		<P CLASS=HStyle0>저자: 김도현, 박규동, 장혜지, 한성호, 곽지영, 송민석, 최동구</P>

		<P CLASS=HStyle0>소속: 포항공대</P>

		<P CLASS=HStyle0><BR></P>

		<P CLASS=HStyle0>■ Job Market 세션</P>

		<P CLASS=HStyle0><BR></P>

		<P CLASS=HStyle0>보낸사람: 김범수 &lt;bk4498@sogang.ac.kr&gt;</P>

		<P CLASS=HStyle0>받는사람: 한국시뮬레이션학회 &lt;simul@mailab.snu.ac.kr&gt;</P>

		<P CLASS=HStyle0>날짜: 2017년 3월 6일 월요일, 11시 02분 52초 +0900</P>

		<P CLASS=HStyle0>제목: Re: [한국시뮬레이션학회]2017 춘계공동학술대회 조직위원회의 안내</P>

		<P CLASS=HStyle0>안녕하세요 경영과학회 춘계공동학술대회 준비위원인 서강대학교 김범수 교수입니다.</P>

		<P CLASS=HStyle0><BR></P>

		<P CLASS=HStyle0>지난번 회의때 논의 되었던 Job Market 세션과 관련하여 시뮬레이션학회와 산업공학회는 따로 준비하고 있는것이 있는지 궁금하여 연락드립니다.</P>

		<P CLASS=HStyle0><BR></P>

		<P CLASS=HStyle0>저희 경영과학회는 논문모집시 박사졸업 예정자 혹은 최근 박사졸업자 중&nbsp; Job Market 세션에 관심있는 사람들의 논문을 모아 Job Market 세션을 따로 하나 만드는 것을 추진중입니다.</P>

		<P CLASS=HStyle0><BR></P>

		<P CLASS=HStyle0>지난번 학회장님께서는 이렇게 진행해도 괜찮다고 하셨는데 혹시 저희만 따로 진행하는 것인지 아니면 같이 진행할 예정인지 말씀해 주시면 감사하겠습니다. </P>

		<P CLASS=HStyle0><BR></P>

		<P CLASS=HStyle0>감사합니다.</P>

		<P CLASS=HStyle0><BR></P>

		<P CLASS=HStyle0>&nbsp;</P>

		<P CLASS=HStyle0><BR></P>

		<P CLASS=HStyle0>김범수 드림 </P>

		<P CLASS=HStyle0><BR></P>

		<P CLASS=HStyle0><SPAN STYLE='font-size:20.0pt;font-weight:"bold";line-height:160%'>&nbsp;[&nbsp; 특 강 ] </SPAN></P>

		<P CLASS=HStyle0><SPAN STYLE='font-size:20.0pt;font-weight:"bold";line-height:160%'><BR></SPAN></P>

		<P CLASS=HStyle0>■ 기조강연 : SAP 한용 부대표 </P>

		<P CLASS=HStyle0>- 담당자 :</P>

		<P CLASS=HStyle0>&nbsp;&nbsp;광고비용집행 및 광고게재: 조하나 파트너님(마케팅, 010-9364-4407)</P>

		<P CLASS=HStyle0>&nbsp;&nbsp;특별강연 준비관련: 이남호 박사님(BTS, 010-8923-6423</P>

		<P CLASS=HStyle0>&nbsp;&nbsp;&quot;Cho, Hana&quot;&lt;hana.cho01@sap.com&gt;, &quot;Lee, Nam Ho&quot;&lt;nam.ho.lee@sap.com&gt;, &quot;Jeong, Jackie&quot;&lt;jackie.jeong@sap.com&gt;</P>

		<P CLASS=HStyle0><BR></P>

		<P CLASS=HStyle0>- 발표시간은 35~40분</P>

		<P CLASS=HStyle0>- 4월27일(목) 오후 3시~4시30분 사이 (Agenda 미확정)</P>

		<P CLASS=HStyle0>&nbsp;</P>

		<P CLASS=HStyle0>&nbsp;특강관련 요청사항</P>

		<P CLASS=HStyle0>-&nbsp; 발표자 이력, 제목, 발표개요</P>

		<P CLASS=HStyle0>(이남호 박사님께 부탁 드리겠습니다. ^^)</P>

		<P CLASS=HStyle0>-&nbsp; 교수님, 언제까지 보내드려야 하나요?</P>

		<P CLASS=HStyle0><BR></P>

		<P CLASS=HStyle0>---------------------------------- 메일 내용 ----------------------</P>

		<P CLASS=HStyle0>안녕하세요?</P>

		<P CLASS=HStyle0>&nbsp;</P>

		<P CLASS=HStyle0>SAP 정대영입니다.</P>

		<P CLASS=HStyle0>&nbsp;</P>

		<P CLASS=HStyle0>춘계공동학술대회에서 특별강연을 할 수 있는 기회를 만들어 주셔서 감사드립니다.</P>

		<P CLASS=HStyle0>내부적으로 광고협찬에 대해 CFO의 승인을 받았습니다.</P>

		<P CLASS=HStyle0>그런데, 비용집행과 관련해서 일부 행정절차가 필요하다고 합니다.</P>

		<P CLASS=HStyle0>다음과 같이 SAP쪽 Contact Point를 알려드립니다.</P>

		<P CLASS=HStyle0>- 광고비용집행 및 광고게재: 조하나 파트너님(마케팅, 010-9364-4407)</P>

		<P CLASS=HStyle0>- 특별강연 준비관련: 이남호 박사님(BTS, 010-8923-6423)</P>

		<P CLASS=HStyle0>&nbsp;</P>

		<P CLASS=HStyle0>특별강연은 SAP Korea에서 DBS 조직을 맡고 계시는 한용 부사장님께서 해주시기로 하셨습니다.</P>

		<P CLASS=HStyle0>&nbsp;</P>

		<P CLASS=HStyle0>감사합니다.</P>

		<P CLASS=HStyle0>정대영 배상</P>

		<P CLASS=HStyle0><BR></P>

		<P CLASS=HStyle0>■ 특별강연 : SDS 윤상우 전무</P>

		<P CLASS=HStyle0>--&gt; 강연취소.&nbsp; 협찬만 진행 (2/27 확정. 장성용 회장님이 협찬만 요청)</P>

		<P CLASS=HStyle0><BR></P>

		<P CLASS=HStyle0>■ 특별강연 : KT 구현모 대표 </P>

		<P CLASS=HStyle0>&nbsp;- 안재경 교수를 통해 의사전달</P>

		<P CLASS=HStyle0>&nbsp;- 특강 : Power of Network</P>

		<P CLASS=HStyle0>&nbsp;- 4/27(목) 리셉션 시간&nbsp; (18:10 이후)</P>

		<P CLASS=HStyle0><BR></P>

		<P CLASS=HStyle0><BR></P>



      </md-card-content>

  </md-card>
</md-content>
