<md-content layout-wrap>
  <md-card>
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">Program</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-content>
    

		<P CLASS=HStyle0>■ 동시사용 가능 룸 수 : 13개</P>

		<P CLASS=HStyle0>&nbsp;&nbsp;&nbsp;기조강연 : 대회의장</P>

		<P CLASS=HStyle0>■ 4/26(수) : 학회별 프로그램 진행</P>

		<P CLASS=HStyle0>■ 4/27(목) : 학회별 프로그램 진행</P>

		<P CLASS=HStyle0></P>
		<TABLE border="1" cellspacing="0" cellpadding="0" style='border-collapse:collapse;border:none;'>
		<TR>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >시간</SPAN></P>
			</TD>
			<TD colspan="2" valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >프로그램</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >진행/좌장</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >장소</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >09:30 ~</SPAN></P>
			</TD>
			<TD colspan="2" valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >등록</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD rowspan="9" valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >A 세션</SPAN></P>
			<P CLASS=HStyle0 ><SPAN >10:20 ~ 12:00</SPAN></P>
			</TD>
			<TD colspan="2" valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >A1. 최적화(1)</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD colspan="2" valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >A2. 경영공학(1)</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD colspan="2" valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >A3. 생산/물류관리(1)</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD colspan="2" valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >A4. 비즈니스 애널리틱스(1)</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD colspan="2" valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >A5. 공공/산업체 응용(1)</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD colspan="2" valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >A6. 시뮬레이션(1)</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD colspan="2" valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >A7. CIM/제조공학</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD colspan="2" valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >A8. 특별세션</SPAN></P>
			<P CLASS=HStyle0 ><SPAN >ADD (6편)</SPAN></P>
			<P CLASS=HStyle0 ><SPAN >- 세션명 : 미정</SPAN></P>
			<P CLASS=HStyle0 ><SPAN >- 좌장 : 한동대 최창범 교수</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD colspan="2" valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >A9. 특별세션</SPAN></P>
			<P CLASS=HStyle0 ><SPAN >한국수력원자력 중앙연구원 (6 – 8편)</SPAN></P>
			<P CLASS=HStyle0 ><SPAN >- 세션명 : 원자력발전소 시뮬레이터와 HMI&nbsp; </SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >12:00 ~ 13:10</SPAN></P>
			</TD>
			<TD colspan="3" valign="middle" style='border : solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >중식</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD rowspan="12" valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >B 세션</SPAN></P>
			<P CLASS=HStyle0 ><SPAN >13:10 ~ 14:50</SPAN></P>
			</TD>
			<TD colspan="2" valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >B1. 최적화(2)</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD colspan="2" valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >B2. 경영공학(2)</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD colspan="2" valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >B3. 생산/물류관리(2)</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD colspan="2" valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >B4. 비즈니스 애널리틱스(2)</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD colspan="2" valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >B5. 공공/산업체 응용(2)</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD colspan="2" valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >B6. 시뮬레이션(2)</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD colspan="2" valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >B7. 인간/안전공학(1)</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD colspan="2" valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >B8. 기타 산업공학/경영과학(1)</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD colspan="2" valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >B9. 특별세션</SPAN></P>
			<P CLASS=HStyle0 ><SPAN >&nbsp;o 배성환 원장 (한전 전력연구원) 기조에 간단한 talk</SPAN></P>
			<P CLASS=HStyle0 ><SPAN >&nbsp;o 한전 전력연구원</SPAN></P>
			<P CLASS=HStyle0 ><SPAN >&nbsp;세션명 : 전력산업분야 4차 산업혁명 도입을 위한 빅데이터와 IoT적용</SPAN></P>
			<P CLASS=HStyle0 ><SPAN >&nbsp;시간 : 13:30 선호</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD colspan="2" valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >B10. 특별세션</SPAN></P>
			<P CLASS=HStyle0 ><SPAN >&nbsp;o POSTECH 송민석 교수</SPAN></P>
			<P CLASS=HStyle0 ><SPAN >- 세션명 : 제조 데이터분석</SPAN></P>
			<P CLASS=HStyle0 ><SPAN >&nbsp;4편 </SPAN></P>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD colspan="2" valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >B11. 특별세션</SPAN></P>
			<P CLASS=HStyle0 ><SPAN >GE + 지멘스 : 첫 번째 세션</SPAN></P>
			<P CLASS=HStyle0 ><SPAN >o 세션명 : 스마트 팩토리 (문덕희 교수님 요청)</SPAN></P>
			<P CLASS=HStyle0 ><SPAN >o Digital Transformation (김성진 상무 1, 김승환 이사 1)&nbsp; </SPAN></P>
			<P CLASS=HStyle0 ><SPAN >o 2개 APS 회사</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD colspan="2" valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >포스터세션 1&nbsp; </SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD rowspan="4" valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >개회식</SPAN></P>
			<P CLASS=HStyle0 ><SPAN >기조/초청강연</SPAN></P>
			<P CLASS=HStyle0 ><SPAN >15:00 ~ 16:20</SPAN></P>
			</TD>
			<TD colspan="2" valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 STYLE='text-align:center;line-height:130%;'><SPAN >개회식</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD rowspan="4" valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >대회의장</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >기조강연</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;SAP 한용 부대표</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >초청강연</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >Dassault Systems Korea 대표 </SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD rowspan="12" valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >C 세션</SPAN></P>
			<P CLASS=HStyle0 ><SPAN >16:30 ~ 18:10</SPAN></P>
			</TD>
			<TD colspan="2" valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >C1. 최적화(3)</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD colspan="2" valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >C2. 경영공학(3)</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD colspan="2" valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >C3. 생산/물류관리(3)</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD colspan="2" valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >C4. 비즈니스 애널리틱스(3)</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD colspan="2" valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >C5. 공공/산업체 응용(3)</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD colspan="2" valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >C6. 시뮬레이션(3)</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD colspan="2" valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >C7. 인간/안전공학(3)</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD colspan="2" valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >C8. 기타 산업공학/경영과학(3)</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD colspan="2" valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >C9. 특별세션</SPAN></P>
			<P CLASS=HStyle0 ><SPAN >POSTECH 산업경영공학과 (4편) --&gt;최동구 교수논문 1편 추가가능</SPAN></P>
			<P CLASS=HStyle0 ><SPAN >- 세션명 : 전력부문 계획 OR 응용&nbsp; </SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD colspan="2" valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >C10. 특별세션</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD colspan="2" valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >C11. 특별세션</SPAN></P>
			<P CLASS=HStyle0 ><SPAN >GE + 지멘스 : 두 번째 세션</SPAN></P>
			<P CLASS=HStyle0 ><SPAN >o 세션명 : 스마트 팩토리 (문덕희 교수님 요청)</SPAN></P>
			<P CLASS=HStyle0 ><SPAN >o 1개 회사 : APS 회사</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD colspan="2" valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >포스터세션 2</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD rowspan="2" valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >리셉션</SPAN></P>
			</TD>
			<TD colspan="2" valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			<P CLASS=HStyle0 ><SPAN >&nbsp;18:20 시작 KT 구현모 대표</SPAN></P>
			<P CLASS=HStyle0 ><SPAN >&nbsp;- 30분 정도</SPAN></P>
			<P CLASS=HStyle0 ><SPAN >&nbsp;- Power of Network</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD colspan="2" valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >리셉션</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		</TABLE>
		<P CLASS=HStyle0></P>

		<P CLASS=HStyle0>■ 4/28(금) : 학회별 프로그램 진행</P>

		<P CLASS=HStyle0></P>
		<TABLE border="1" cellspacing="0" cellpadding="0" style='border-collapse:collapse;border:none;'>
		<TR>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >시간</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >프로그램</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >진행/좌장</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >장소</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >09:00 ~</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >등록</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >09:00 ~ 17:00</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >한국시뮬레이션학회 :제 17회 한국 대학생 컴퓨터 시뮬레이션 경진대회</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD rowspan="11" valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >D 세션</SPAN></P>
			<P CLASS=HStyle0 ><SPAN >09:00 ~ 10:40</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >D1. 최적화(4)</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >D2. 경영공학(4)</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >D3. 생산/물류관리(4)</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >D4. 비즈니스 애널리틱스(4) </SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >D5. 공공/산업체 응용(4)</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >D6. 시뮬레이션(4)</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >D7. 정보시스템</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >D8. 기타 산업공학/경영과학(3)</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >D9. 특별세션</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >D10.1 튜토리얼 또는 특별세션 </SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >D10.2 튜토리얼 또는 특별세션 </SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >10:40 ~ 10:50</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >Coffee Break</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD rowspan="13" valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >E 세션</SPAN></P>
			<P CLASS=HStyle0 ><SPAN >10:50 ~ 12:30</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >E1. 최적화(5)</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >E2. 경영공학(5)</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >E3. 생산/물류관리(5)</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >E4. 비즈니스 애널리틱스(5)</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >E5. 확률통계(1)</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >E6. 시뮬레이션(5)</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >E7. 기타 산업공학/경영과학(4)</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >E8. 특별세션</SPAN></P>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >E9. 특별강연 주제 미정</SPAN></P>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >E10. 특별강연 </SPAN></P>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >E11. 특별강연 스마트 그리드</SPAN></P>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >E.12 특별강연</SPAN></P>
			<P CLASS=HStyle0 ><SPAN >시뮬레이션과 AI </SPAN></P>
			<P CLASS=HStyle0 ><SPAN >김탁곤 교수 (KAIST)</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >포스터세션 3</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >12:30 ~ 13:30</SPAN></P>
			</TD>
			<TD colspan="2" valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >중식&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD rowspan="12" valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >F 세션</SPAN></P>
			<P CLASS=HStyle0 ><SPAN >13:30 ~ 15:10</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >F1. 시뮬레이션 최적화</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >F2. 특별세션</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >F3. 생산/물류관리(6)</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >F4. 비즈니스 애널리틱스(6)</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >F5. 확률통계(2)</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >F6. 시뮬레이션(6)</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >F7. 기타 산업공학/경영과학(7)</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >F8. 특별세션</SPAN></P>
			<P CLASS=HStyle0 ><SPAN >&nbsp;&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >F9. 특별세션</SPAN></P>
			<P CLASS=HStyle0 ><SPAN >&nbsp;o 한국환경산업기술원 </SPAN></P>
			<P CLASS=HStyle0 ><SPAN >&nbsp;&nbsp;세션명 1 : 젊은 연구자 세미나 세션 (5~6개)</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >F10. 특별세션</SPAN></P>
			<P CLASS=HStyle0 ><SPAN >&nbsp;o POSTECH 산업경영공학과 최동구 교수</SPAN></P>
			<P CLASS=HStyle0 ><SPAN >&nbsp;&nbsp;&nbsp;세션명 : 전력부문 계획 OR 응용</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >F11. 특별세션</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >포스터세션</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >15:10 ~ 15:20</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >Coffee Break</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD rowspan="9" valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >G 세션</SPAN></P>
			<P CLASS=HStyle0 ><SPAN >15:20 ~ 17:00</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >G1. 특별세션</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >G2. 특별세션</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >G3. 특별세션</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >G4. 비즈니스 애널리틱스(6)</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >G5. 확률통계(3)</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >G6. 특별세션</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >G7. 기타 산업공학/경영과학(7)</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >G8. 특별세션</SPAN></P>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		<TR>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >G9. 특별세션</SPAN></P>
			<P CLASS=HStyle0 ><SPAN >o 한국환경산업기술원 </SPAN></P>
			<P CLASS=HStyle0 ><SPAN >&nbsp;&nbsp;세션명 2 : 성과발표회 세션 (3~4개)</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
			<TD valign="middle" style='border:solid #000000 0.4pt'>
			<P CLASS=HStyle0 ><SPAN >&nbsp;</SPAN></P>
			</TD>
		</TR>
		</TABLE>
		<P CLASS=HStyle0></P>

		<P CLASS=HStyle0><BR></P>

		<P CLASS=HStyle0>■ 4/29(토) : 학회별 프로그램 진행</P>




    </md-card-content>
  </md-card>
</md-content>
